@import '~antd/dist/antd.css';

.App {
  text-align: center;
  overflow: hidden;
}

.search {
  align-items: center;
  align-content: center;
  width: 350px;
}

.fieldBG {
  background: linear-gradient(0deg, rgba(23, 223, 159, 0.47), rgba(23, 223, 159, 0.47)), 
  linear-gradient(180deg, #0F5E9C 0%, rgba(255, 255, 255, 0) 100%);
  /* height: 100vh; */
  background-repeat: repeat;
}

.img-market {
    width: '1px';
    height: '1px';
}

.fieldBG2 {
  background: linear-gradient(0deg, rgba(23, 223, 159, 0.47), rgba(23, 223, 159, 0.47)), 
  linear-gradient(180deg, #0F5E9C 0%, rgba(255, 255, 255, 0) 100%);
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgba(0,0,0,0.2);
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 50px;
  padding: 5px;
  color: white;
}

.Logo {
  margin-top: 20vh;
  width: 234px;
  height: 234px;
}

.HeroText {
  font-weight: 200;
  font-size: 4em;
  color: aliceblue;
}
.HeroText2 {
  font-weight: 200;
  font-size: 1.5em;
  color: aliceblue;
}
.HeroText3 {
  font-weight: 200;
  font-size: 1.5em;
}

.Testimony {
  margin-top: 10vh;
}

.TBoxText {
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 12px;
  text-align: center;
  width: 200px;
  margin-bottom: 10vh;
}

.TBox {
  width: 149px;
  height: 149px;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px; 
}

.TBox2 {
  width: 100%;
  height: 149px;
  margin-bottom: 20px; 
}


.Nav1 {
  margin-top: 5vh;
  color: aliceblue;
  border-color: aliceblue;  
}

.HeroView {
  height: 700px;
  background: linear-gradient(0deg, rgba(23, 223, 159, 0.47), rgba(23, 223, 159, 0.47)), 
  linear-gradient(180deg, #0F5E9C 0%, rgba(255, 255, 255, 0) 100%);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Card {
  border-radius: 4px;
  width: 300px;
  margin: 20px;
}

.contentWrap {
  margin-top: 20px;
  margin-bottom: 20px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.chartWrap {
	padding: 0;
	overflow: hidden;
}

.chartTable {
	font-weight: lighter;	
	border-collapse: collapse;  
}

.chartTableBars {  
	vertical-align: bottom;
  font-weight: lighter;
  padding: 8px;
  color: black;
}
 
.chartTableLeftBar {
	background: rgba(255,255,255,0.2);
	padding: 0px;
	text-align: right;
	width: 20px;
	color: #000;
}

.chartTableHiddenCell {
	max-height: 0px;
	padding: 0px;
	background: #DDD;
}

.chartTableBottomBar {
	background: rgba(255,255,255,0.2);
  text-align: center;
  font-size: 28px;
	font-weight: lighter;
	color: #000;
}

.chartTableBottomTimeUnits {
	padding: 12px 12px 12px 0px;
	border-left: 0px solid #DDD;
	font-weight: lighter;	
  font-size: 18px;
	color: #000;
}

.chartRed {
	background: rgb(20,200,20);
}

.chartRed p { 
	padding: 5px 0px 0px 0px ;
	color: #FFF;
  position: relative;
  top: -28px;
}


.chartOff {
	background: none;
}

.chartOff p {
	padding: 6px 7px 0px 7px ;
	background: none;
}
